body {
    font-family: Arial, sans-serif;
    background-color:rgb(176, 231, 250);
}
h2 {
    margin-top: 20px;
    color: #003366;
}

fieldset {
    border: 2px solid #0073e6;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
legend {
    font-size: 18px;
    color: #0073e6;
}

